<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=C, initial-scale=1.0">
    <title>Alta Alumno</title>
</head>
<body>
    <form method="post" action="/guardar">
     <input type="text" name="tipo" id="tipo" value="" placeholder="Nombre Completo Alumno">
     <input type="text" name="estado" id="estado" value="" placeholder="Ingresar Estado">   
    
    </form>
    <button class="btn btn-warning" type="submit">Guardar</button>
</body>
</html>